<div class="strip cf">
  <section class="inner thin" id="erase-all-kittens">
    <div class="row">
      <aside class="col-sm-12">
        <a href="http://eraseallkittens.com" title="Erase All Kittens" id="eak-logo">
          <img src="/assets/img/eak-logo.gif" alt="Erase All Kittens - E.A.K. - eraseallkittens.com">
        </a>
      </aside>
    </div>
  </section>
</div>
<div class="strip cf">
  <section class="inner thin">
    <div class="row">
      <div class="col-sm-12">
        <h2>Erase All Kittens</h2>
        <h3 class="subtitle">Save Kittens. Save the World.</h3>
        <p>
          Our first game, Erase All Kittens, is an open source platform game to
          teach kids to code. It does this in a unique way: by encouraging kids to
          hack into levels in order to complete the game. Our aim is for children to
          create things, rather than just being consumers in our increasingly
          digital world. We want to provide their first steps to digital
          literacy in the most entertaining way possible.
        </p>
      </div>
    </div>
  </section>

  <section class="inner thin no-top">
    <div class="row">
      <div class="col-sm-12">
        <h3>The Story</h3>
        <p>
          Kittens are becoming increasingly popular worldwide, and the other fluffy animals have had enough of it. They are enraged that kittens always beat them. A cute but evil rebellion - Operation E.A.K. - are capturing all the kittens on the internet, with the intent to destroy them. Your mission is to save the kittens using super coding powers.
        </p>
      </div>
    </div>
  </section>

  <section class="inner thin no-top sneak-preview">
    <div class="row">
      <div class="col-sm-12">
        <h3>Preview</h3>
        <video style="max-width: 100%" controls>
          <source src="/assets/video/trailer.webm" type="video/webm"></source>
          <source src="/assets/video/trailer.mp4" type="video/mp4"></source>
          Oh no! Your browser doesn't support our video format :(
        </video>
      </div>
    </div>
  </section>
</div>

<section class="inner thin" id="happenings">
  <div class="row">
    <div class="col-sm-12">
      <h2>Happenings</h2>
      <h3 class="subtitle">Bits from the blog</h3>
      {{#foreach posts}}
      <article class="{{post_class}}">
          <header class="post-header">
              <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="by "}}</span>
              <h3 class="post-title"><a href="{{url}}">{{{title}}}</a></h3>

          </header>
          <section class="post-excerpt">
              <p>{{excerpt}}&hellip; <a href="{{url}}" class="read-more">Read more &rarr;</a></p>
          </section>
      </article>
      {{/foreach}}
    </div>
  </div>
</section>
<section class="inner" id="humans">
  <div class="row">
    <div class="col-sm-12">
      <h2>Humans</h2>
      <p>
        Drum Roll consists of three team members, Joe Dytrych, Dee Saigal, and Leonie
        Van Der Linde. They make games with a purpose, and place equal importance on
        originality in both the technical and creative aspects of game design.
      </p>
    </div>
  </div>
  <div class="row human">
    <div class="col-sm-4">
      <img src="{{asset 'img/joe.jpg'}}" alt="">
    </div>
    <div class="col-sm-8">
      <h3>Joe Dytrych</h3>
      <h4 class="subtitle">Co-Founder &amp; Chief Button Presser</h4>
      <ul>
        <li>Was hired at <a href="http://decoded.co/">Decoded</a> after completing his A-Levels</li>
        <li>Worked at a pig farm, got paid half in sausages</li>
        <li>Gets extremely excited about stickers</li>
        <li>Favourite Game: <a href="http://en.wikipedia.org/wiki/Day_of_the_Tentacle">Day of The Tentacle</a></li>
        <li>
          <a href="https://twitter.com/somehats" title="Twitter: @SomeHats">@SomeHats</a>
          &#8226;
          <a href="mailto:&#106;&#111;&#101;&#064;&#103;&#111;&#100;&#114;&#117;&#109;&#114;&#111;&#108;&#108;&#046;&#111;&#114;&#103;">&#106;&#111;&#101;&#064;&#103;&#111;&#100;&#114;&#117;&#109;&#114;&#111;&#108;&#108;&#046;&#111;&#114;&#103;</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row human">
    <div class="col-sm-4">
      <img src="{{asset 'img/dee.jpg'}}" alt="">
    </div>
    <div class="col-sm-8">
      <h3>Dee Saigal</h3>
      <h4 class="subtitle">Co-Founder &amp; Chief Scribbler</h4>
      <ul>
        <li>Freelances as an ad creative &amp; writes stories</li>
        <li>Lived in Paris for a year and cycled into stationary cars</li>
        <li>Whisper-sings whilst playing the piano and guitar</li>
        <li>Favourite games: <a href="http://en.wikipedia.org/wiki/Crystal_Warriors">Crystal Warriors</a> and <a href="http://en.wikipedia.org/wiki/Ocarina_of_Time">Ocarina of Time</a></li>
        <li>
          <a href="https://twitter.com/deesaigal" title="Twitter: @DeeSaigal">@DeeSaigal</a>
          &#8226;
          <a href="mailto:&#100;&#101;&#101;&#064;&#103;&#111;&#100;&#114;&#117;&#109;&#114;&#111;&#108;&#108;&#046;&#111;&#114;&#103;">&#100;&#101;&#101;&#064;&#103;&#111;&#100;&#114;&#117;&#109;&#114;&#111;&#108;&#108;&#046;&#111;&#114;&#103;</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row human">
    <div class="col-sm-4">
      <img src="{{asset 'img/leonie.jpg'}}" alt="">
    </div>
    <div class="col-sm-8">
      <h3>Leonie Van Der Linde</h3>
      <h4 class="subtitle">Chief Pixel Wizard</h4>
      <ul>
        <li>Graduated from Central Saint Martins last summer</li>
        <li>Wears mismatched socks</li>
        <li>Makes plushies and crotchets octopeople</li>
        <li>Favourite game: killing off sims in <a href="http://en.wikipedia.org/wiki/The_Sims">The Sims</a></li>
        <li><a href="mailto:&#108;&#101;&#111;&#110;&#105;&#101;&#064;&#103;&#111;&#100;&#114;&#117;&#109;&#114;&#111;&#108;&#108;&#046;&#111;&#114;&#103;" title="">&#108;&#101;&#111;&#110;&#105;&#101;&#064;&#103;&#111;&#100;&#114;&#117;&#109;&#114;&#111;&#108;&#108;&#046;&#111;&#114;&#103;</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="inner" id="contact">
  <div class="row">
    <div class="col-sm-12">
      <h2>Say Hello</h2>
      <p>If you’re interested in our work, let us know. We&rsquo;d love to meet for a chat and a brew (the tea or the beer kind). Our super trendy office is under Dee's kitchen table in her flat near Angel tube station, London, UK.</p>
    </div>
  </div>
  <div class="row thin no-top">
    <div class="col-sm-6 col-sm-offset-4 contact">
      <ul>
        <li>
          <a class="icon-twitter" href="https://twitter.com/drumrollhq" title="Twitter: @DrumRollHQ">
            <span class="hidden">Twitter</span> @DrumRollHQ
          </a>
        </li>
        <li>
          <a class="icon-facebook" href="https://facebook.com/drumrollhq">
            <span class="hidden">Facebook</span> DrumRollHQ
          </a>
        </li>
        <li>
          <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#104;&#117;&#109;&#97;&#110;&#115;&#64;&#100;&#114;&#117;&#109;&#114;&#111;&#108;&#108;&#104;&#113;&#46;&#99;&#111;&#109;" class="icon-mail">
            <span class="hidden">Email</span> &#104;&#117;&#109;&#97;&#110;&#115;&#64;&#100;&#114;&#117;&#109;&#114;&#111;&#108;&#108;&#104;&#113;&#46;&#99;&#111;&#109;
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="inner sneak-preview">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>Introducing...</h3>
      <video style="max-width: 500px" autoplay loop>
        <source src="/assets/video/glitterquiff.webm" type="video/webm"></source>
        <source src="/assets/video/glitterquiff.mp4" type="video/mp4"></source>
        Oh no! Your browser doesn't support our video format :(
      </video>
      <h3>Tarquin Glitterquiff</h3>
      Serial entrepreneur extraordinaire
    </div>
  </div>
</section>

<section class="inner thin no-top">
  <div class="row"></div>
</section>
