<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{#if post}}{{post.title}} | {{/if}}{{#if isHome}}Home{{else}}Blog{{/if}} | Drum Roll</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700,400,300" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.11/fastclick.min.js"></script>
</head>
<body class="{{body_class}} {{#if isHome}}home{{else}}not-home{{/if}}">
    {{! The big featured header on the homepage, with the site logo and description }}
    <header class="site-head">
        {{#if isHome}}
        <div class="site-head-content inner">
            {{#if @blog.logo}}
                <a class="blog-logo" href="{{@blog.url}}">
                    <img src="/assets/img/logo-l.png" alt="{{@blog.title}}" />
                    <h1 class="blog-title ofsc">{{@blog.title}}</h1>
                </a>
            {{/if}}
            <h2 class="blog-description">{{@blog.description}}</h2>
        </div>
        {{/if}}

        <nav {{#unless isHome}}class="fixed"{{/unless}}>
            <ul class="inner">
                <li class="menu"><a>
                    <span class="burger"><span></span><span></span><span></span></span>
                    Menu
                </a></li>
                <li class="logo {{#unless isHome}}active{{/unless}}"><a href="/#">
                    <img src="/assets/img/drumroll.png" alt="Drum Roll">
                </a></li>
                <li><a href="/#erase-all-kittens">Erase All Kittens</a></li>
                <li><a href="/blog/">Happenings</a></li>
                <li><a href="/#humans">Humans</a></li>
                <li><a href="/#contact">Reveal Yourself</a></li>
            </ul>
        </nav>
    </header>

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
        <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
        <div class="inner">
             <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
             <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48560682-1', 'godrumroll.org');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
